@import "../App.scss";

.buttonRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.danger{
    color: $menu-accent-color;
    font-size: 0.85rem;
    text-align: right;
}