@import "../App.scss";

.NavBar {
    margin-top: 3rem;
}

.PageName {
    text-align: center;
    font-size: 2.5rem;
}

.NavBarList, .SubMenuList{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.NavBarListItem, .SubMenuItem{
    text-decoration: none;
    border: 1px solid $menu-accent-color;
    padding: 0.5rem 2rem;
    box-shadow: -5px 3px 3px $menu-accent-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 2rem;
}

.NavBarListItem:hover, .SubMenuItem:hover{
    box-shadow: none;
}

.SubMenuBar{
    margin-top: 1.5rem;
}

.SubMenuList{
    justify-content:flex-start; 
}

.SubMenuItem {
    margin-right: 2rem;
    font-size: 0.75rem;
}

.Selected{
    background-color: $menu-accent-color;
    color: $selected-menu-text-color;
    box-shadow: none;
}